.front-view-content {
    float: none;
}

.related-posts {
    display: none;
}

/* Style Button by frengky.id */
.btn {
  background-color: white;
  border: 2px solid #f08519;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}
.btn:hover {
  background-color: #f08519;
  border: 2px solid black;
}
.btn a {
    color: #f08519;
}  
.btn a:hover {
  color: white;
}
