.latestPost .thecategory {
    line-height: 1.3;
}

/* Style Button by frengky.id */
.btn {
  background-color: #F6F5B2;
  border: 2px solid #EE3A3A;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}
.btn:hover {
  background-color: white;
}
.btn a {
    color: #EE3A3A;
}  
.btn a:hover {
  color: black;
}

/* Style td,th by frengky.id */
td, th {
    background-color: #dddddd;
    border: 2px solid #cccccc;
    text-align: left;
    padding: 8px;
}
